rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /TempleImages/{imagePath} {
      allow read : if request.auth!=null;
      allow write: if false;
    }
  }
}
